.featurette {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1.25rem;
    padding: 0.938rem;
    .featurette-media-content {
        max-width: 200px;
    }
    .featurette-content {
        p {
            margin: 0 0 1.25rem;
            font-size: 16px;
            font-weight: 100;
            line-height: 1.4;
            &+p {
                font-size: 14px;
                font-weight: 300;
                line-height: normal;
                margin: 0 0 0.625rem;
            }
            a {
                color: #06adbe;
                text-decoration: none;
                &:hover,
                &:focus {
                    text-decoration: underline;
                }
            }
        }
    }
    @media (min-width: 768px) {
        .featurette-media-content {
            max-width: 300px;
        }
        .featurette-content {
            p {
                font-size: 21px;
                &+p {
                    font-size: inherit;
                }
            }
        }
    }
    @media (min-width: 992px) {
        flex-direction: row;
        gap: 0 30px;
        margin-top: 60px;
        .featurette-media-content {
            flex-basis: 40vw;
        }
        .featurette-content {
            flex-basis: 60vw;
            padding: 0 0.938rem;
            p>a {
                text-transform: none;
            }
            p+p>a {
                text-transform: uppercase;
            }
        }
    }
    // .featurette-map {
    //     margin-top: 1.25rem;
    // }
}