.scbtn {
    display: flex;
    gap: 0 .5rem;
    justify-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
    font-family: inherit;
    height: 1.875rem;
    max-width: 12rem;
    line-height: 1.5;
    font-size: 1.125rem;
    color: #a74324;
    white-space: nowrap;
    &:hover {
        color: #071b28;
    }
    &>img {
        height: 1.875rem;
    }
    @media (min-width: 768px) {
        gap: 0 .75rem;
        max-width: 21rem;
        height: 4.688rem;
        line-height: 2.28;
        font-size: 1.875rem;
        img {
            height: 4.063rem;
        }
    }
}