.johnscott {
    .featurette-media-content {
        max-width: 12.5rem;
    }
    img {
        max-width: 12.5rem;
        clip-path: circle(50%);
    }
    @media (min-width: 768px) {
        .featurette-media-content {
            max-width: 18.75rem;
        }
        img {
            max-width: 18.75rem;
        }
    }
    @media (min-width: 992px) {
        .featurette-media-content {
            margin: 0 3.2rem;
        }
    }
}