.johnscott {
    .featurette-media-content {
        &>div {
            width: 12.5rem;
            height: 12.5rem;
        }
        img {
            width: 100%;
            clip-path: circle(50%);
        }
    }
    @media (min-width: 48rem) {
        .featurette-media-content {
            &>div {
                width: 18.75rem;
                height: 18.75rem;
            }
        }
    }
    @media (min-width: 62rem) {
        .featurette-media-content {
            margin: 0 3.2rem;
        }
    }
}