.navigation {
    .navbar {
        display: none;
    }
    .responsive-nav {
        display: flex;
    }
    @media (min-width: 768px) {
        .navbar {
            display: block;
        }
        .responsive-nav {
            display: none;
        }
    }
}