.navbar {
    background-color: #fefefe;
    border-bottom: 1px solid #a74324;
    min-height: 50px;
    margin-bottom: 1.25rem;
    .navbar-header {
        padding: 0.625rem;
        .nav-menu-btn {
            float: right;
        }
        .nav-menu-list {
            margin: 11px -0.938rem 0 -0.938rem;
            border-bottom: 1px solid #a74324;
            &.closed {
                border: none;
            }
            ul {
                background-color: #88e7f1;
                li {
                    a {
                        color: #a74324;
                        padding: 0.625rem 0.938rem;
                        &:focus,
                        &:hover {
                            // color: #555;
                            // color: #071b28;
                            color: #a74324;
                            background-color: #06adbe;
                        }
                    }
                }
            }
        }
    }
    // #navbar ul>.active>a,
    // #navbar ul>.active>a:focus,
    // #navbar ul>.active>a:hover {
    //     color: #fff;
    //     background-color: #a74324;
    // }
    @media (min-width: 48rem) {
        min-height: 75px;
        .navbar-header {
            padding: 0 0.938rem;
            button.mobile-nav {
                display: none;
            }
            .nav-menu-btn,
            .nav-menu-list {
                display: none;
            }
        }
        // Hold these...
        #navbar {
            min-height: 75px;
            .navbar-collapse {
                background-color: inherit;
            }
            ul {
                li {
                    float: left;
                    a {
                        color: #a74324;
                        padding: 0.625rem;
                        white-space: nowrap;
                        padding-top: 1.25rem;
                        padding-bottom: 0.625rem;
                        line-height: 45px;
                        font-size: 18px;
                        &:focus,
                        &:hover {
                            // color: #555;
                            // color: #071b28;
                            // color: #a74324;
                            // background-color: #06adbe;
                            color: #555;
                            background-color: transparent;
                        }
                        // #navbar ul>.active>a,
                        // #navbar ul>.active>a:focus,
                        // #navbar ul>.active>a:hover {
                        //     color: #fff;
                        //     background-color: #a74324;
                        // }
                    }
                }
            }
        }
    }
}