.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #777;
    height: 12.5rem;
    margin: -1.25rem 0 1.25rem 0;
    position: relative;
    overflow: hidden;
    @media (min-width: 48rem) {
        height: 31.25rem;
    }
    .carousel-indicators {
        position: absolute;
        z-index: 10;
        list-style: none;
        padding: 0;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 1.25rem;
        text-align: center;
        @media (min-width: 48rem) {
            bottom: 1.75rem;
        }
    }
    .carousel-control {
        position: absolute;
        z-index: 20;
        top: 0;
        bottom: 0;
        color: #fff;
        background-color: rgba(0, 0, 0, 0);
        opacity: .5;
        border: none;
        // overflow: hidden;
        padding: 0;
        width: 10%;
        &:hover {
            opacity: 1;
        }
        &.left {
            left: 0;
            background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
            background-repeat: repeat-x;
            .chevron-left {
                width: 2rem;
                height: 2rem;
            }
        }
        &.right {
            right: 0;
            background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
            background-repeat: repeat-x;
            .chevron-right {
                width: 2rem;
                height: 2rem;
            }
        }
    }
}