html {
    font-family: 'Oswald', sans-serif;
    color: #071b28;
    font-size: 0.875rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

h1,
h2,
h3 {
    color: #5a5a5a;
}

a {
    color: #06adbe;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}


/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */